
*.xcuserstate

JobSearch.xcworkspace/xcuserdata/carlhawk.xcuserdatad/WorkspaceSettings.xcsettings

JobSearch.xcworkspace/xcuserdata/carlhawk.xcuserdatad/UserInterfaceState.xcuserstate

JobSearch.xcworkspace/xcuserdata/carlhawk.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
